.main {
    padding: 4rem 2rem;
    text-align: center;
}

.hero {
    margin-bottom: 4rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--ifm-color-primary-dark);
}

.cta {
    padding: 0.75rem 1.5rem;
    background-color: var(--ifm-color-primary);
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    text-decoration: none;
}

.cta:hover {
    text-decoration: none;
    color: var(--ifm-color-primary-dark);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    background: #333131;
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-decoration: none;
    color: var(--ifm-color-primary-dark);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.15);
    text-decoration: none;
}

/* Category-specific colors */
.frontend {
    border-top: 5px solid #16a3ca; /* React Blue */
}

.backend {
    border-top: 5px solid #16f93c; /* Orange for Node/Server */
}

.projects {
    border-top: 5px solid #b94b10; /* Green for projects */
}

